extends layout

block content
    h1= title

    p #{category.description}

    hr
    each game in categoryGames
        li
            a(href=game.url) #{game.title}
    else
        li There are no games in this category.

    hr
    p
        a(href=category.url+'/update') Update Category
    p
        a(href=category.url+'/delete') Delete Category
