extends layout

block content
    h1= title

    form(method='POST' action='' enctype='multipart/form-data')
        div.form-group
            label(for='title') Title:
            input#title.form-control(type='text', placeholder='Name of Game' name='title' required='true' value=(undefined===game ? '' : game.title) )
        div.form-group
            label(for='category') Category:
            select#category.form-control(type='select', placeholder='Select Category' name='category' required='true')
                for category in categories
                    if game 
                        option(value=category._id selected=(category._id.toString()===game.category._id.toString() ? 'selected' : false) ) #{category.name}
                    else
                        option(value=category._id) #{category.name}
        div.form-group
            label(for='description') Description:
            textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===game ? '' : game.description}
        div.form-group
            label(for='price') Price: $ 
            input#price.form-control(type='number', placeholder='Ex: 59.99, 10.00, etc.' step='any' name='price' required='true' value=(undefined===game ? '' : game.price.toString())) 
        div.form-group
            label(for='quantity') Quantity:
            input#quantity.form-control(type='number', placeholder='0 - 100+' name='quantity' required='true' value=(undefined===game ? '' : game.quantity)) 
        div.form-group
            label(for='image') Image:
            input#quantity.form-control(type='file', name='image' accept='image/png, image/jpeg, image/jpg' ) 
        button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg
    hr
    p
        a(href='/') Return to hompage without adding game
