extends layout

block content
    
    h1=title

    p #[strong !{game.category.name}]
    p #{game.description}
    p #[strong Price:] $#{game.price}
    p #[strong Quantity:] #{game.quantity}

    hr
    p Do you really want to delete this Game?

    form(method='POST' action='')
        div.form-group
            input#id.form-control(type='hidden', name='id', required='true',
                value=game._id )

        button.btn.btn-primary(type='submit') Delete
