extends layout

block content
    h1 #{game.title}

    p #[strong !{game.category.name}]
    p #{game.description}
    p #[strong Price:] $#{game.price}
    p #[strong Quantity:] #{game.quantity}

    hr
    p
        a(href=game.url+'/update') Update Game
    p
        a(href=game.url+'/delete') Delete Game
